.mainWrap{
    width: 1280px;
    margin: 0 auto;
    p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 200px;
        line-height: 244px;
        text-align: center;
        color: #E3E6EC;
        text-shadow: 28.6154px 28.6154px 31.7949px #D1D9E6, -28.6154px -28.6154px 31.7949px rgba(255, 255, 255, 0.5);
        padding: 320px 0;
    }
}