.mainWrap{
    max-width: 1280px;
    margin: 0 auto;
    .logoWrap{
        width: 200px;
        height: 200px;
        padding: 48px;
        img{
            width: 100%;
        }
    }
}
.contentWrap{
    display: grid;
    place-items: center;
}