
    .mainIner{
        max-width: 1280px;
        margin: 0 auto;
        .lists{
            display: flex;
            justify-content: center;
            margin: 180px 0 160px 0;
            flex-wrap: wrap;
            .list{
                width: 420px;
                background: #E3E6EC;
                box-shadow: 28.6154px 28.6154px 31.7949px #D1D9E6, -28.6154px -28.6154px 31.7949px rgba(255, 255, 255, 0.5);
                border-radius: 10px;
                padding: 16px;
                img{
                    border-radius: 20px;
                    height: 240px;
                    width: 368px;
                    margin: 0 auto;
                }
                .categoryWrap{
                    margin: 16px auto 24px;
                    width: 240px;
                }
                .categoryWrap p{
                    background: #E3E6EC;
                    box-shadow: -12px -16px 32px rgba(255, 255, 255, 0.55), 12px 16px 32px #E3E6EC;
                    border-radius: 10px;
                    padding: 16px 96px;
                }
                .body h1{
                    font-size: 20px;
                    font-weight: bold;
                    color: #4a4a4a;
                    margin: 24px 0 16px 0;
                }
                .body p{
                    font-size: 14px;
                    line-height: 1.8;
                    color: #4a4a4a;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    -webkit-text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                }
            }
            li + li{
                margin-left: 80px;
            }
            li:first-child{
                margin-left: 80px;
            }
        }
    }
.pageList{
    background: #E3E6EC;
    box-shadow: -12px -16px 32px rgba(255, 255, 255, 0.55), 12px 16px 32px #E3E6EC;
    border-radius: 10px;
    margin:200px auto;
    width:400px;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            padding: 16px;
        }
    }
}